body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: auto;
    background-color: #1F2937;
    padding: 16px 200px 100px 200px;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.header .header-top div {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header .header-top ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    text-decoration: none;
    margin: 0 0 0 auto;
    padding: 0px;
}

.header-top ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 42px;
    justify-content: space-between;
    align-items: stretch;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 0;
}

.about .text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: auto;
}

.about .information {
    font-size: 18px;
    color: #E5E7EB;
}

.header-container img {
    flex: 1 1 auto;
    max-width: 70%;
    height: auto;
}

.header-container .about button {
    margin-top: auto;
    background-color: #3882F6;
    text-align: center;
    font-weight: 900;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.info-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    /* align-items: center; */
    margin: 40px;
    text-align: center;
}

.articles {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px;
    margin-top: 0%;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    /* gap: 30px; */
    max-width: 250px;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.cards a .img {
    border: 5px solid #3882F6;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    flex: 1 1 auto;
    margin: 0%;
    padding: 0%;
}

.img-link {
    margin: 0;
    padding: 0%;
}

.img-div {
    margin-bottom: 10px;
    padding: 0%;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: #1F2937;
    text-decoration: none;
}

.cards .text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    color: #E5E7EB;
    text-align: justify;
    margin-bottom: auto;
}

.cards .text a {
    margin: 0px;
    padding: 0%;
}

.quote {
    display: flex;
    justify-content: center;
    text-align: start;
    background-color: #E5E7EB;
    padding: 100px 300px;

}

.quote-box {
    display: flex;
    flex-direction: column;
}

.real-quote {
    color: #1F2937;
    font-size: 36px;

}

.thor {
    color: black;
    font-weight: 900;
    margin-left: auto;
    padding: 10px;
}

.sign-up {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 75px 175px;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 8px;
}

.call-action {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 900;

}

.complete button {
    border: 2px solid white;
    height: 30px;
    width: auto;
    padding: 5px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 900;
    background-color: #3882F6;
    margin-left: auto;
}

.complete {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 30px 64px;
    /* gap: 200px; */
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    width: auto;
    height: 74px;
}

div {
    color: white;
}